body {
    background-color: black;

    p {
        color: white;
        font-family: Arial, Helvetica, sans-serif
    }

    h1, h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif
    }

    negro {
        font-weight: bold;
    }

    pizza {
        font-style: italic;
    }

    a {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(87, 173, 190);
    }

    dst {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    ul, ol {
        font-family: Arial, Helvetica, sans-serif; font-style: normal;
        color: rgb(117, 240, 219);
    }

}